.map-container{
    display: flex;
    justify-content: center;
    
}
.map-container-map{
   
        height:60vh;
        width:80%;
}
#map {
    height: 400px;
    justify-content: center;
    /* The height is 400 pixels */
    width: 80%;
    /* The width is the width of the web page */
  }